a img {
	border: 0;
}
table.sortable {
	border-spacing: 0;
	border-collapse: collapse;
}
table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	width: 100px;
}
table.sortable th {
	background-color: #ccc;
}
table.sortable td {
}
table.sortable tr.odd td {
	background-color: #ddd;
}
table.sortable tr.even td {
	background-color: #fff;
}
table.sortable tr.sortbottom td {
	background-color: #ccc;
	font-weight: bold;
}